::-webkit-scrollbar {
    display: none;
  }
  
  /* For Firefox */
  html {
    scrollbar-width: none;
  }
  
  /* Hide horizontal scrollbar while keeping the scroll functionality */
  body {
    overflow-x: hidden; /* Hides horizontal scrollbar */
  }
  .carousel-indicators {
    position: relative; 
  }
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
    